.clickable {
    cursor: pointer;
    color: blue;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .modal-content div {
    text-align: justify;
  }

  .modal-content button {
    border-color: blue;
    background-color: white;
    margin-top: 10%;
    font-size: 15pt;
    border: 3px solid #888;
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 100%;
  }

  .modal-content strong {
    width: 30%;
  }

  .modal-content img {
    width: 200px;
    height: 200px;
  }

  .modal-content input {
    width: 60%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  div.alinear-centro{
    text-align: center;
  }


  div.alinear-centro table{
    border-spacing: 0px;
    text-align: left;
  }

  .alinear-derecha{
    text-align: end;
  }

  body{
    background-color: white;
  }

  table tr td{
    align-items: center;
    background-color: wheat;
    border: black 1px solid;
    text-align: center;
  }

  thead td{
    color: red;
    font-size: 20pt;
  }